.portrait {
    height: 100%;
}

.landscape {
    width: 100%;
}

.grid-stack-item {
  overflow: hidden;
}

.gs-w {
    overflow: hidden;
    position: relative;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
  right: 1px;
}

/*/
/* demo
/*/


body {
  font-size: 16px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #444;
  margin: 30px 40px;
  background-color: #EFEFEF;
}

.controls {
  margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
  background-color: #EFEFEF;
}

.gridster li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}


.gridster {
  margin: 0 auto;

  opacity: .8;

  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.gridster .gs-w {
  background: #DDD;
  cursor: pointer;
}

.gridster .player {
  background: #BBB;
}


.gridster .preview-holder {
  border: none!important;
  background: red!important;
}

